---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="flex justify-center">
      <img
        src="/blackboard.png"
        style="margin-bottom: 0.5em; width: 100%;"
        class="rounded-xl"
      />
    </div>
    <div class="text-xs text-stone-400 text-right">
      Blackboard in my office at the University of Chicago, 2018
    </div>
    <section class="animate space-y-10 mt-4">
      <div class="animate font-semibold text-black dark:text-white">
        Physics Projects
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects
            .filter((project) => project.data.category === "physics")
            .map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
        }
      </ul>
    </section>

    <!-- <div class="flex justify-center mt-28"> -->
    <div class="flex justify-center mt-40">
      <img
        src="/noctua2_bright_full.jpg"
        style="margin-bottom: 0.5em; width: 100%;"
        class="rounded-xl"
      />
    </div>
    <div class="text-xs text-stone-400 text-right">
      National supercomputer "Noctua 2" in Paderborn, 2021
    </div>
    <!-- <section class="animate space-y-10 mb-10 mt-14"> -->
    <section class="animate space-y-10 mb-10 mt-4">
      <div class="animate font-semibold text-black dark:text-white">
        Computing Projects
      </div>
    </section>
    <ul class="animate flex flex-col gap-4">
      {
        projects
          .filter((project) => project.data.category === "computing")
          .map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
      }
    </ul>
    <!-- </section> -->
  </Container>
</PageLayout>
