---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <section class="animate mt-4">
      <div class="animate font-semibold text-black dark:text-white mb-10">
        Physics Projects
      </div>
      <div class="flex justify-center">
        <img
          src="/blackboard.png"
          style="margin-bottom: 0.5em; width: 98%;"
          class="rounded-lg"
        />
      </div>
      <div class="text-sm text-stone-500 text-right mb-10" style="width: 99%">
        Blackboard in my office at the University of Chicago, 2018
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects
            .filter((project) =>
              project.data.category?.toLowerCase().includes("physics"),
            )
            .map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
        }
      </ul>
    </section>

    <section class="animate mt-20">
      <div class="animate font-semibold text-black dark:text-white mb-10">
        Computing Projects
      </div>
      <div class="flex justify-center">
        <img
          src="/noctua2_bright_full.jpg"
          style="margin-bottom: 0.5em; width: 98%;"
          class="rounded-lg"
        />
      </div>
      <div class="text-sm text-stone-500 text-right mb-10" style="width: 99%">
        National supercomputer "Noctua 2" in Paderborn, 2021
      </div>
    </section>
    <ul class="animate flex flex-col gap-4">
      {
        projects
          .filter((project) =>
            project.data.category?.toLowerCase().includes("computing"),
          )
          .map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
      }
    </ul>
    <!-- </section> -->
  </Container>
</PageLayout>
